<%- include('./partials/header.ejs')%>
<p>This website is a trading hub for Yugioh cards that allows users to view current cards on the site, or upload a card of their own.</p>
<%- include('./partials/footer.ejs')%>