<%- include('./partials/header.ejs')%>
    <main class="content" id="desc">
        <h1>WELCOME TO YUGOAT Deck Builder</h1>
        <div class="centeredcontent">
            <p>The YUGOAT Deck Builder is a site that lets you browse as well as build your own deck using cards from the GOAT format in Yugioh!</p>
            <p>You can start by navigating to the Card database, or log in to create decks of your own!</p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>
