<%- include('./partials/header.ejs')%>
    <main class="content" id="desc">
        <h1>WELCOME TO NINER YUGIOH TRADE</h1>
        <p>The Niner Yugioh Trade site is your one stop shop for finding and trading for your favorite card!</p>
        <p>You can start by navigating to the Trades link, or to start a trade of your own click on Start Trading!</p>

    </main>
<%- include('./partials/footer.ejs')%>
